@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* to show boxes */
/* * {
  border: 1px black solid;
} */

/* simple reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

/* general grid overlay */
.content {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "sidecontent header header"
    "sidecontent projects announcements"
    "sidecontent projects trending"
    "footer footer footer";
}

.header {
  display: grid;
  align-self: center;
  padding: 1rem 2rem 1rem 2rem;
  grid-area: header;
  background-color: #ffffff;
  height: min-content;
}

/* upper part of the header */
.upperheader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 4fr 1fr repeat(4, min-content);
}

.upperheader > * {
  margin: 1rem;
  align-self: center;
}

input {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  height: 2rem;
  padding: 0.8rem;
  outline: #ffffff 0.09rem solid;
  background-color: #eeeeee;
  border: 0px;
  border-radius: 0.8rem;
}

input:focus {
  background-color: #dddddd;
}

#avatar_small {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.name_small {
  font-weight: bold;
  font-size: 1.2rem;
  grid-column: span 3;
}

/* lower part of the header */
.lowerheader {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr 1fr 1fr;
}

.lowerheader > * {
  margin: 0.5rem;
  place-self: center;
}

#avatar_big {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.name_big {
  font-size: 0.9rem;
  font-weight: bold;
  align-self: center;
  justify-self: start;
  margin-left: 0.5rem;
}

.name_big > p {
  font-size: 1.5rem;
}

.new_button,
.upload_button,
.share_button {
  appearance: none;
  border: 0;
  background-color: #1992d4;
  color: #ffffff;
  border-radius: 1.5rem;
  cursor: pointer;
  height: 3rem;
  font-weight: bold;
  min-width: 7rem;
}

/* sidecontent elements*/
.sidecontent {
  display: grid;
  grid-template-columns: 48px 5fr;
  grid-template-rows: repeat(auto-fit, 3rem);
  grid-area: sidecontent;
  background-color: #1992d4;
  color: #ffffff;
  padding: 1rem;
}

.sidecontent .material-symbols-outlined {
  place-self: center;
}

.sidecontent a,
span {
  align-self: center;
}

.dashboard_title_text {
  font-size: 2.25rem;
  font-weight: bold;
  padding-left: 1rem;
}

.dashboard_text {
  font-size: 1.25rem;
  padding-left: 1rem;
}

.dashboard_text:hover {
  color: #d4d3d3;
}

.sidecontent .material-symbols-outlined {
  font-size: 1.5rem;
}

.sidecontent span:first-child {
  font-size: 3.5rem;
}

/* main content: cards/projects*/
.projects {
  padding: 2rem;
  grid-area: projects;
  background-color: #eeeeee;
}

.my_projects {
  font-size: 1.5rem;
}

.cards {
  margin-top: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cards > div {
  background-color: #ffffff;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 2rem;
  text-align: justify;
  box-shadow: 2px 2px 5px #999;
}

.cards .icons {
  align-self: end;
  justify-self: right;
  display: flex;
}

.icons > a {
  margin-left: 1rem;
}

.cards p {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

/* announcement section*/
.announcements {
  padding: 2rem 2rem 2rem 0;
  background-color: #eeeeee;
  grid-area: announcements;
}

.announcements_title {
  font-size: 1.5rem;
}

.announcements_card {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  display: grid;
  padding: 2rem;
  text-align: justify;
  box-shadow: 2px 2px 5px #999;
}

.announcements_card p {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.line {
  background-color: #999;
  height: 1px;
  margin: 1rem 0 1rem 0;
}

/* trending section*/
.trending {
  padding: 2rem 2rem 2rem 0;
  background-color: #eeeeee;
  grid-area: trending;
}

.trending_title {
  font-size: 1.5rem;
}

.trending_card {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  display: grid;
  padding: 2rem;
  text-align: justify;
  box-shadow: 2px 2px 5px #999;
}

.trending_card > div {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
}

.first_trending,
.second_trending,
.third_trending {
  margin-bottom: 1rem;
}

.trending img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.trending_card span {
  padding-left: 1.5rem;
}

span[class*="trending_info"] {
  font-weight: bold;
}

[class*="trending_info"] p {
  font-weight: normal;
  color: rgb(162, 162, 162);
}

.footer {
  grid-area: footer;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
